main {
  margin-top: 1rem;
  width: 80%;
  margin: 1rem auto;
}

.options {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  width: 30%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  font-weight: bold;
}

h4 {
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: 15px;
}

p {
  display: flex;
  justify-content: center;
  font-size: medium;
}
