<main>
  <mat-tab-group>
    <mat-tab label="My Ira Accounts">
      <app-ira-account></app-ira-account>
    </mat-tab>
    <mat-tab label="Understand the Benefits">
      <br />
      <h1>What is an IRA?</h1>
      <br />
      <h3>
        An IRA (individual retirement account) is a personal, tax-deferred
        account the IRS created to give investors an easy way to save for
        retirement.
      </h3>
      <br />
      <h1>Why invest an IRA?</h1>
      <br />
      <div class="options">
        <img
          src="https://d338t8kmirgyke.cloudfront.net/icons/icon_pngs/000/000/167/original/money-bag.png"
          alt="money"
          width="100"
          height="100"
        />
        <br />

        <strong><h4>Tax Break Benefits</h4></strong>
        <p>
          Contributing to a Traditional IRA can reduce your incomes taxes by
          lowering your adjusted gross income. Depending on your income,
          traditional IRA contributions can be a deductible for that tax year.
          If you invest any money into your Traditional IRA between January 1
          and April 15, that contribution can count toward last year's tax
          returns.
        </p>
      </div>
      <div class="options">
        <img
          src="https://static.thenounproject.com/png/3293012-200.png"
          alt="growth"
          width="100"
          height="100"
        />
        <br />
        <strong><h4>Compound Growth</h4></strong>
        <p>
          Everytime the investments in your IRA earn a dividend or interest,
          that amount accrues extra money into your balance. The types of
          investments within your account dictate the potential earnings. Your
          IRA account can grow in years that you aren't even able to contribute
          because your account earns interest on top of interest.
        </p>
      </div>
      <div class="options">
        <img
          src="https://cdn1.iconfinder.com/data/icons/loans-outline/60/047_-_Flexible_Payments-loans-debt-money-512.png"
          alt="flexible"
          width="100"
          height="100"
        />
        <br />
        <strong><h4>Investment Flexibility</h4></strong>
        <p>
          Compared to a 401k, an IRA can provide more flexibility. Some 401ks
          have restrictions on how often you make distributions and all 401ks
          restrict your investment choices to those chosen by the plan sponsor.
          IRAs offer the account holder a wider range of investment choices and
          you do not have to be employed at a certain company.
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Traditional vs. Roth">
      <app-ira-types></app-ira-types>
    </mat-tab>
    <mat-tab label="FAQ">
      <mat-accordion multi="true">
        <strong>Frequently Asked Questions</strong>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Q: What is the maximum contribution ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content>
              You can contribute a maximum of $6,000 to a Traditional IRA, if
              under 50 yrs old and a maximum of $7,000 for those 50 yrs old and
              over.
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Q: What are the penalties for early withdrawl ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content
              >There are no penalties if you withdraw before the age of 72,
              however withdrawing before 59 1/2 yrs old, there is a 10% penalty
              and additional income tax on the withdrawl.
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Q: How do I contribute ?</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content
              >Select your account, Click Add Mutual Fund, type in your
              contribution amount, and click Buy!
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Q: How do I add a fund ?</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content>
              After you have selected your account, click "+Add Mutual Fund" and
              click "+" to add that fund.
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Q: Should I open Traditional or Roth ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content>
              See Traditional vs. Roth tab to weigh your options.
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Q: Is there an age limit to open an IRA ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content>
              As of December 20, 2019, the Secure Act removed the top age limit
              of 70.5 yrs old. As long as you are still working, there is no age
              limit to contribute to a traditional IRA.
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</main>
