<main>
  <mat-tab-group>
    <mat-tab label="My Ira Accounts">
      <div *ngIf="iras.length > 0">
        <mat-accordion multi="true">
          <mat-expansion-panel *ngFor="let fund of dataSource">
            <mat-expansion-panel-header *ngIf="fund.isGroupBy === true">
              <mat-panel-title> {{ fund.name }} </mat-panel-title>
              <mat-panel-description>
                {{ fund.type }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-card>
              <mat-card-content>
                <div class="container">
                  <h2 class="">Fund Name</h2>
                  <h2 class="">Balance</h2>
                  <h2 class="">Buy Amount</h2>
                </div>
                <hr />

                <section class="example-section">
                  <button
                    mat-raised-button
                    color="primary"
                    (click)="openModal(fund)"
                  >
                    <mat-icon>add</mat-icon>Add Mutual Fund
                  </button>
                </section>
                <hr />
              </mat-card-content>
            </mat-card>
            <div *ngFor="let item of dataSource">
              <mat-card
                *ngIf="
                  item.isGroupBy === false &&
                  item.item.type === fund.type &&
                  item.item.name === fund.name
                "
              >
                <mat-card-content *ngIf="item.item.mutualFundId != null">
                  <div class="container">
                    <h2>{{ item.item.mutualFundId }}</h2>
                    <h2>${{ item.item.balance }}</h2>
                    <!-- <mat-form-field
                      appearance="fill"
                      *ngIf="item.item.balance === 0"
                    >
                    </mat-form-field> -->
                    <mat-form-field
                      appearance="fill"
                      disabled="true"
                      *ngIf="checked === false"
                    >
                      <mat-label>Amount</mat-label>
                      <input
                        matInput
                        type="text"
                        min="1"
                        placeholder="Amount"
                        [(ngModel)]="amount"
                      />
                    </mat-form-field>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
      <p *ngIf="iras.length <= 0"><strong>No iras yet</strong></p>
      <div class="container">
        <button mat-raised-button color="primary" (click)="addIraModal()">
          <mat-icon>add</mat-icon>Add Account
        </button>
        <h2>
          <strong>Total buy amount: $ {{ amount }}</strong>
        </h2>
      </div>
      <div class="buy">
        <button mat-raised-button color="primary" (click)="disclosure()">
          Buy
        </button>
      </div>
    </mat-tab>
    <mat-tab label="Understand the Benefits">
      <h1>What is an ira?</h1>
      <br />
      <p>
        An IRA (individual retirement account) is a personal, tax-deferred
        account the IRS created to give investors an easy way to save for
        retirement.
      </p>
      <br />
      <h1>Why invest an ira?</h1>
    </mat-tab>
    <mat-tab label="Traditional vs. Roth">
      <app-ira-types></app-ira-types>
    </mat-tab>
    <mat-tab label="FAQ">
      <mat-accordion multi="true">
        <strong>Frequently Asked Questions</strong>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Q: What is the maximum contribution ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content>
              You can contribute a maximum of $6,000 to a Traditional IRA, if
              under 50 yrs old and a maximum of $7,000 for those 50 yrs old and
              over.
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Q: What are the penalties for early withdrawl ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content
              >There are no penalties if you withdraw before the age of 72,
              however withdrawing before 59 1/2 yrs old, there is a 10% penalty
              and additional income tax on the withdrawl.
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Q: How do I contribute ?</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content> gsgjgjeg </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Q: How do I add a fund ?</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content> gsgjgjeg </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Q: Should I open Traditional or Roth ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content> gsgjgjeg </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Q: How much money do I need to open an account ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content> gsgjgjeg </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title
              >Q: Is there an age limit to open an IRA ?</mat-panel-title
            >
          </mat-expansion-panel-header>
          <mat-card>
            <mat-card-content>
              As of December 20, 2019, the Secure Act removed the top age limit
              of 70.5 yrs old. As long as you are still workig, there is no age
              limit to contribute to a traditional IRA.
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-tab>
  </mat-tab-group>
</main>
