<div class="main-container" [class.isMobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>Vandelay Finance</h1>
    <app-horizontal></app-horizontal>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" role="navigation"
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" class="mat-elevation-z8">
      <button mat-button class="menu-button" routerLink="/home">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-button class="menu-button" *ngIf="!signedIn" routerLink="/sign-up">
        <mat-icon>person_add</mat-icon>
        <span>Sign Up</span>
      </button>
      <button mat-button class="menu-button" *ngIf="!signedIn" routerLink="/login">
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
      <button mat-button class="menu-button" *ngIf="signedIn" routerLink="/myaccount">
        <mat-icon>account_circle</mat-icon>
        <span>My Account</span>
      </button>
      <button mat-button class="menu-button" routerLink="/stocks">
        <mat-icon>bar_chart</mat-icon>
        <span>Stocks</span>
      </button>
      <button mat-button class="menu-button" [matMenuTriggerFor]="funds">
        <mat-icon>payments</mat-icon>
        <span>Funds</span>
      </button>
      <mat-menu #funds="matMenu">
        <button mat-button class="menu-button" routerLink="/mutualFunds">
          <mat-icon> monetization_on</mat-icon>
          Mutual Funds
        </button>
        <button mat-button class="menu-button" routerLink="/etfFunds">
          <mat-icon> attach_money</mat-icon>
          ETF Funds
        </button>
      </mat-menu>
      <button mat-button class="menu-button" routerLink="/news">
        <mat-icon>receipt</mat-icon>
        <span>News</span>
      </button>
      <button mat-button class="menu-button" [matMenuTriggerFor]="eztrader">
        <mat-icon>call_missed_outgoing</mat-icon>
        <span>EZTRADER</span>
      </button>
      <mat-menu #eztrader="matMenu">
        <button mat-button class="menu-button" routerLink="/eztraderdash">
          <mat-icon> assessment</mat-icon>
          Dashboard
        </button>
        <button mat-button class="menu-button" routerLink="/eztrader">
          <mat-icon> build</mat-icon>
          Tool
        </button>
      </mat-menu>
      <button mat-button class="menu-button" *ngIf='signedIn' (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content role="main">
      <div class="content mat-elevation-z8">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
