<div>
    <mat-tab-group>
        
        <mat-tab label="Graph"> 
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          
            <app-graph></app-graph>
            <div id="chart_div" style="width: 110%; height: 600px;"></div>
        </mat-tab>
        <mat-tab label="Table"> 
           <div id="table">

            <app-table></app-table>
            <!-- <div id="chart_div" style="width: 90%; height: 600px;"></div> -->
        </div>
        </mat-tab>
    </mat-tab-group>
</div>
