<div>
    
    <table mat-table [dataSource]="etf" matSort>
              <caption style="text-align:right">My savings</caption>
              <!-- Position Column -->
              <ng-container matColumnDef="symbol" >
                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element" > {{element.name}} </td>
              </ng-container>
              <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
              <ng-container matColumnDef="changesPercentage">
                <th mat-header-cell *matHeaderCellDef> changesPercentage </th>
                <td mat-cell *matCellDef="let element"> {{element.changesPercentage | percent}} </td>
              </ng-container>
              <ng-container matColumnDef="change">
                <th mat-header-cell *matHeaderCellDef> change </th>
                <td mat-cell *matCellDef="let element"> {{element.change}} </td>
              </ng-container>
              <ng-container matColumnDef="dayLow">
                <th mat-header-cell *matHeaderCellDef> dayLow </th>
                <td mat-cell *matCellDef="let element"> {{element.dayLow}} </td>
              </ng-container>
              <ng-container matColumnDef="dayHigh">
                <th mat-header-cell *matHeaderCellDef> dayHigh </th>
                <td mat-cell *matCellDef="let element"> {{element.dayHigh}} </td>
              </ng-container>
              <ng-container matColumnDef="yearHigh">
                <th mat-header-cell *matHeaderCellDef> yearHigh </th>
                <td mat-cell *matCellDef="let element"> {{element.yearHigh}} </td>
              </ng-container>
              <ng-container matColumnDef="yearLow">
                <th mat-header-cell *matHeaderCellDef> yearLow </th>
                <td mat-cell *matCellDef="let element"> {{element.yearLow}} </td>
              </ng-container>
              <ng-container matColumnDef="exchange">
                <th mat-header-cell *matHeaderCellDef> exchange </th>
                <td mat-cell *matCellDef="let element"> {{element.exchange}} </td>
              </ng-container>
              <ng-container matColumnDef="open">
                <th mat-header-cell *matHeaderCellDef> open </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
              <ng-container matColumnDef="previousClose">
                <th mat-header-cell *matHeaderCellDef> previousClose </th>
                <td mat-cell *matCellDef="let element"> {{element.previousClose}} </td>
              </ng-container>
              <ng-container matColumnDef="timestamp">
                <th mat-header-cell *matHeaderCellDef> timestamp </th>
                <td mat-cell *matCellDef="let element"> {{element.timestamp}} </td>
              </ng-container>
           
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
           
            <mat-paginator [pageSizeOptions]="[10, 20, 100]"
                           showFirstLastButtons 
                           aria-label="Select page of periodic elements">
            </mat-paginator>
           
</div>