<div class="container mt-4">
  <h1 class="mat-display-3">Stocks</h1>
  <app-wallet *ngIf="loggedIn"></app-wallet>
  <br>
  <table #stockTable mat-table [dataSource]="stocks" class="mat-elevation-z8">
    <ng-container matColumnDef="ticker">
      <th mat-header-cell *matHeaderCellDef>Ticker</th>
      <td mat-cell *matCellDef="let stock">{{stock.ticker}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let stock">{{stock.name}}</td>
    </ng-container>

    <ng-container matColumnDef="open">
      <th mat-header-cell *matHeaderCellDef>Open</th>
      <td mat-cell *matCellDef="let stock">{{stock.open | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="high">
      <th mat-header-cell *matHeaderCellDef>High</th>
      <td mat-cell *matCellDef="let stock">{{stock.high | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="low">
      <th mat-header-cell *matHeaderCellDef>Low</th>
      <td mat-cell *matCellDef="let stock">{{stock.low | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="close">
      <th mat-header-cell *matHeaderCellDef>Close</th>
      <td mat-cell *matCellDef="let stock">{{stock.close | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="buy">
      <th mat-header-cell *matHeaderCellDef>Buy</th>
      <td mat-cell *matCellDef="let stock">
        <button mat-icon-button color="primary" (click)="openDialog(stock)">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let stock; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" #paginator [pageSizeOptions]="[10, 25]"></mat-paginator>
</div>
