<div class="container main mt-4">
  <h1>Stocks</h1>
  <app-wallet *ngIf="loggedIn"></app-wallet>
  <br />
  <mat-form-field>
    <input (keyup)="applyFilter($any($event.target).value)" matInput placeholder="Search" />
  </mat-form-field>
  <table #stockTable mat-table [dataSource]="stocks" class="mat-elevation-z8" matSort>
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">Symbol</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="openModal(element.symbol)">
          {{ element.symbol }}
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">Price</th>
      <td mat-cell *matCellDef="let element">{{ element.price | currency }}</td>
    </ng-container>
    <ng-container matColumnDef="changesPercentage">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by changesPercentage">Chng Pct.
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.changesPercentage / 100 | percent: "1.2" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="change">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by change">Change</th>
      <td mat-cell *matCellDef="let element">
        {{ element.change | number: "1.2-2" }}
      </td>
    </ng-container>
    <ng-container matColumnDef="dayLow">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dayLow">Day Low</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dayLow | currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="dayHigh">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dayHigh">Day High</th>
      <td mat-cell *matCellDef="let element">
        {{ element.dayHigh | currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="yearHigh">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by yearHigh">Year High</th>
      <td mat-cell *matCellDef="let element">
        {{ element.yearHigh | currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="yearLow">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by yearLow">Year Low</th>
      <td mat-cell *matCellDef="let element">
        {{ element.yearLow | currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="exchange">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by exchange">Exchange</th>
      <td mat-cell *matCellDef="let element">{{ element.exchange }}</td>
    </ng-container>
    <ng-container matColumnDef="open">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by open">Open</th>
      <td mat-cell *matCellDef="let element">{{ element.open | currency }}</td>
    </ng-container>
    <ng-container matColumnDef="previousClose">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by previousClose">Previous Close
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.previousClose | currency }}
      </td>
    </ng-container>
    <ng-container matColumnDef="buy">
      <th mat-header-cell *matHeaderCellDef class="text-center">Buy</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="primary" (click)="openDialog(element)">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let stocks; columns: displayedColumns"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" #paginator [pageSizeOptions]="[10, 25]"></mat-paginator>
</div>
