table {
  width: 100%;
}
button {
  text-decoration: none;
  border: none;
  background-color: transparent;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}

.main {
  margin-top: 1rem;
  width: 80%;
  margin: 1rem auto;
}
