<h1 mat-dialog-title><strong>New Ira Account</strong></h1>
<mat-dialog-component [formGroup]="form">
  <mat-form-field>
    <input
      matInput
      [(ngModel)]="name"
      placeholder="Ira Name"
      formControlName="name"
    />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Ira Type</mat-label>
    <mat-select [(ngModel)]="selectedValue" formControlName="type">
      <mat-option *ngFor="let type of types" [value]="type.viewValue">
        {{ type.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br />
</mat-dialog-component>

<mat-dialog-actions>
  <button mat-button class="mat-raised-button" color="primary" (click)="add()">
    Add Ira Account
  </button>
</mat-dialog-actions>
