<div class="container mt-4">
  <div class="row gx-2 gy-2">
    <div class="col-lg-12">
      <mat-card class="text-center mat-h1 mat-elevation-z8" routerLink="/">Vandelay Finance
      </mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="text-center mat-h1 mat-elevation-z8" routerLink="/">Home</mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="text-center mat-h1 mat-elevation-z8" routerLink="/news">News</mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="text-center mat-h1 mat-elevation-z8" *ngIf="!signedIn" routerLink="/sign-up">Sign Up</mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="text-center mat-h1 mat-elevation-z8" *ngIf="!signedIn" routerLink="/login">Login</mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="text-center mat-h1 mat-elevation-z8" routerLink="/stocks">Stocks</mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="text-center mat-h1 mat-elevation-z8" routerLink="/etfFunds">ETFs</mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="text-center mat-h1 mat-elevation-z8" routerLink="/mutualFunds">Mutual Funds</mat-card>
    </div>
    <div class="col-lg-6">
      <mat-card class="text-center mat-h1 mat-elevation-z8" routerLink="/ira">IRA</mat-card>
    </div>
  </div>
</div>


<!-- <div>
  <section>
    <div class="calculator_main">
      <div id="screen_display">Vandelay Finance</div>
      <div class="button_collection">
        <div class="buttons">፨</div>
          <div class="buttons">፨</div>
          <div class="buttons">፨</div>
          <div class="buttons">፨</div>
        <div class="buttons">፨</div>
        <div class="buttons">፨</div>
        <div class="buttons">፨</div>
        <div class="buttons">፨</div>
        <div class="buttons"  mat-button routerLink="/">Home</div>
        <div class="buttons"  mat-button routerLink="/news">News</div>
        <div class="buttons" mat-button *ngIf="!signedIn" routerLink="/sign-up">Sign-up</div>
        <div class="buttons" mat-button *ngIf="!signedIn" routerLink="/login">Login</div>
        <div class="buttons" mat-button  routerLink="/stocks">Stock</div>
        <div class="buttons" mat-button  routerLink="/etfFunds">ETF</div>
        <div class="buttons" mat-button  routerLink="/mutualFunds">Mutual Fund</div>
        <div class="buttons" mat-button  routerLink="/">IRA</div>
        <div class="buttons">፨</div>
        <div class="buttons">፨</div>
        <div class="buttons">፨</div>
        <div class="buttons">፨</div>
      </div>
    </div>
  </section>
</div> -->
