<div class="container mt-4">
  <app-wallet></app-wallet>
  <br>
  <button mat-raised-button color="primary" (click)="getHoldingsValuation()">Get holdings valuation</button>
  <br>
  <mat-chip-list *ngIf="valuation" class="mt-4 chip-list">
    <mat-chip>Your holdings are worth: {{valuation | currency}}</mat-chip>
  </mat-chip-list>
  <br>
  <br>
  <h1 class="headline">Your Holdings</h1>
  <table #holdingTable mat-table [dataSource]='holdings' class="mat-elevation-z8">
    <ng-container matColumnDef="ticker">
      <th mat-header-cell *matHeaderCellDef>Ticker</th>
      <td mat-cell *matCellDef="let holding">{{holding.ticker}}</td>
    </ng-container>

    <ng-container matColumnDef="kind">
      <th mat-header-cell *matHeaderCellDef>Kind</th>
      <td mat-cell *matCellDef="let holding">{{holding.kind | uppercase}}</td>
    </ng-container>

    <ng-container matColumnDef="sharesOwned">
      <th mat-header-cell *matHeaderCellDef>Shares Owned</th>
      <td mat-cell *matCellDef="let holding">{{holding.sharesOwned}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let holding">
        <button mat-raised-button color="primary" (click)="openDialog(holding)">Sell</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsHoldings"></tr>
    <tr mat-row *matRowDef="let holding; columns: displayedColumnsHoldings;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" #holdingsPaginator [pageSizeOptions]="[5, 10]"></mat-paginator>
  <br>
  <h1 class="headline">Your Transactions</h1>
  <table #transactionTable mat-table [dataSource]='transactions' class="mat-elevation-z8">
    <ng-container matColumnDef="ticker">
      <th mat-header-cell *matHeaderCellDef>Ticker</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.ticker}}</td>
    </ng-container>

    <ng-container matColumnDef="kind">
      <th mat-header-cell *matHeaderCellDef>Kind</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.kind | uppercase}}</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef>Transaction Value</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.value | currency}}</td>
    </ng-container>

    <ng-container matColumnDef="sharesTransacted">
      <th mat-header-cell *matHeaderCellDef>Shares Transacted</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.sharesTransacted}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let transaction">{{transaction.date | date:'short'}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsTransactions"></tr>
    <tr mat-row *matRowDef="let transaction; columns: displayedColumnsTransactions;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" #transactionsPaginator [pageSizeOptions]="[5, 10]"></mat-paginator>
</div>
