<!--<div class="card d-flex justify-content-between p-3 mt-5" style="width: 50rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title">Welcome to the Investment Tool</h2>
      <p class="card-text">This is a tool to help you decide which investment choice is best for you.<br>
        You will be asked 11 questions that will determine your financial ability/commitment, investment goals, personal interests, and risk aversion, among other characteristics.<br>
        Your answers to these questions will be analyzed and compared to a variety of investment choices, and you will receive at least one suggestion.
      </p>
    </div>
    <ul class="list-group list-group-flush">
        <br>
      <h5 class="list-title">Quick disclaimer:</h5>
      <li class="list-group-item">This tool is strictly for entertainment/educational purposes.</li>
      <li class="list-group-item">This tool was not designed by a certified financial professional.</li>
      <li class="list-group-item">It is highly recommended that you seek financial counseling from a certified financial advisor before investing.</li>
    </ul>
    <div class="card-body">
        <button class="btn btn-success btn-lg" routerLink="/survey">Use Tool</button>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>-->

  <div class="disclaimer"
    style="background-image: url('https://i.ibb.co/F5Ftb21/Illustration-of-a-small-plant-developing-into-a-money-tree.jpg'); background-repeat: no-repeat; 
    background-position: right bottom; font-weight: bold; width: 50vw;; background-size: 400px; margin-left: 400px; margin-top: 100px; border-style: solid; border-radius: 10px; border-width: 2px; border-color: black">
    <br>
    <h2 class="title">Welcome to the Investment Tool!</h2>
    <hr><br>
    <p class="description">This is a tool to help you decide which investment choice is best for you.<br>
        You will be asked 11 questions that will determine your financial ability/commitment, investment goals, personal interests, and risk aversion, among other characteristics.<br>
        Your answers to these questions will be analyzed and compared to a variety of investment choices, and you will receive at least one suggestion.
      </p>
      <br>
      <hr>
      <br>
    <h4 class="rules">Disclaimer:</h4>
    <ol>
        <li>This tool is strictly for entertainment/educational purposes.</li>
        <li>This tool was not designed by a certified financial professional.</li>
        <li>It is highly recommended that you seek financial counseling from a certified financial advisor before investing.</li>
        <li>By clicking "Use Tool," you confirm that you understand the previous statements.</li>
    </ol>
    <br>
    <button class="tool-butt" routerLink="/survey">Use Tool</button>
</div>
    